// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white: #ffffff;
$gray: #f8fafc;
$gray-dark: #1f2937;
$gray-darker: #111827;
$gray-light: #f1f5f9;
$gray-lighter: #e2e8f0;
$black: #000000;
$primary: $red;
$secondary: $gray;
